.header 
    display: flex

    height: 80px
    padding: 0 30px

    border-bottom: 1px solid #ececec
    background-color: #fff

    align-items: center
    justify-content: space-between

.logo 
    margin-right: 40px
    padding-bottom: 7px
	
@import 'components/mainmenu'

@import 'components/dropdown'

@import 'components/search'

.location 
	margin-right: 10px
	&__link 
		color: #868686
		font-size: 12px
	[class*="icon"]
		font-size: 18px
		color: $color
		margin-right: 5px



.profile-menu
	list-style: none
	display: flex
	margin-right: -20px

	&__link 
		display: block
		line-height: 80px
		padding: 0 20px
		[class*="icon"]
			font-size: 18px
			color: $color
			vertical-align: middle

.basket
	line-height: $line-height
	position: relative
	.badge 
		position: absolute
		top: -8px
		right: -9px

.b-price
	vertical-align: middle
	margin-left: 15px
	color: $color
	font-family: $font-family2
	font-size: 12px
	font-weight: 700
	letter-spacing: 1.2px

.badge 
	min-width: 16px
	height: 16px
	padding: 0 4px
	background-color: $color-blue
	border-radius: 50%
	display: inline-block
	vertical-align: middle
	text-align: center
	line-height: 17px
	color: #fff
	font-size: 9px


.user-menu 
	list-style: none
	&__item 
		border-bottom: 1px solid #ececec
		&:last-child 
			border-bottom: none
	&__link 
		display: block
		color: $color
		font-size: 12px
		font-weight: 400
		line-height: 40px
		padding: 0 20px