.header 
    display: flex

    height: 80px
    padding: 0 30px

    border-bottom: 1px solid #ececec
    background-color: #fff

    align-items: center
    justify-content: space-between

.logo 
    margin-right: 40px
    padding-bottom: 7px
	
@import 'components/mainmenu'

@import 'components/dropdown'

@import 'components/search'

.location 
	margin-right: 10px
	&__link 
		color: #868686
		font-size: 12px
	[class*="icon"]
		font-size: 18px
		color: $color
		margin-right: 5px

@import '../components/profile-menu'
@import '../components/card'