.box-main
	aside.sidebar
		include ../components/accordion
	.content
		.box-tab-cont
			#tab_1.tab-cont.hide 
				.box-product
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '100$', '70$', 'hit' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'sale' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'hit' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$', 'new' )
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					+product("Lacoste Men's Pocket Polo Shirt - Sahara", 'Blazers', '$85$', '70$')
					
			#tab_2.tab-cont .22222..
		include ../components/paginator
		