.box-main
	aside.sidebar
		.acrrodion
			.accordion__head 1
			.acrrodion__body 11
			.accordion__head 2
			.acrrodion__body 22
	.content
		.box-tab-cont
			#tab_1.tab-cont.hide .11111..
			#tab_2.tab-cont .22222..