header.header
	button.toggle-menu
		span.icon.icon-menu
	include ../components/mobile-dropdown
	.logo
		a(href="#")
			img.hidden-iphone(src="img/logo.png" alt="логотип")
			img.hidden-ipad(src="img/logo-mobile.png", alt="логотип")
	include ../components/mainMenu
	include ../components/search
	.location
		span.icon-pin
		a.location__link(href="#") Uzbekistan / $
	ul.profile-menu
		include ../components/basket
		include ../components/userMenu
		