header.header
	.logo
		a(href="#")
			img(src="img/logo.png" alt="")
	ul.main-menu
		li.main-menu__item.dropdown
			a.main-menu__link(href="#")
				| Men 
				span.icon-caret
			.dropdown-content
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Bags
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Caps & Hats
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Gifts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Grooming
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Hoodies & Sweatshirts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jackets & Coats
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jeans
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jewellery
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Joggers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jumpers & Cardigans
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Leather Jackets
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Long Sleeve T-Shirts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Loungewear
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Polo Shirts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Sunglasses
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Swimwear
		li.main-menu__item.dropdown
			a.main-menu__link(href="#")
				| Women 
				span.icon-caret
			.dropdown-content
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shirts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shoes, Boots & Trainers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shorts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Suits & Blazers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Sunglasses
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Swimwear
		li.main-menu__item.dropdown
			a.main-menu__link(href="#")
				| Kids 
				span.icon-caret
			.dropdown-content
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") New Arrivals
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Dresses
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Tops
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Sweaters & Knits
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jackets & Coats
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Rompers & Jumpsuits
		li.main-menu__item.dropdown
			a.main-menu__link(href="#")
				| Accessories 
				span.icon-caret
			.dropdown-content
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Hair Accessories
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Sunglasses & Readers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Socks & Tights
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Hats
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Scarves & Gloves
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Jackets & Coats
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Rompers & Jumpsuits
		li.main-menu__item
			a.main-menu__link(href="#") Sale
		li.main-menu__item
			a.main-menu__link(href="#") LookBook
		li.main-menu__item
			a.main-menu__link(href="#") Blog
	.search
		form(action="#")
			input.form-control.search__input(type="text" placeholder="Search")
			input.search__button(type="submit" value="")
	.location
		span.icon-pin
		a.location__link(href="#") Uzbekistan / $
	ul.profile-menu
		li.profile-menu__item.dropdown.dropdown--right.dropdown--white
			a.profile-menu__link(href="#")
				span.basket
					span.icon-bag
					span.badge 3
				span.b-price $165
			.dropdown-content
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shirts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shoes, Boots & Trainers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Shorts
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Suits & Blazers
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Sunglasses
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") Swimwear
		li.profile-menu__item.dropdown.dropdown--right.dropdown--white
			a.profile-menu__link(href="#")
				span.icon-user
			.dropdown-content
				ul.user-menu
					li.user-menu__item
						a.user-menu__link(href="#") Profile
					li.user-menu__item
						a.user-menu__link(href="#") Wishlist
					li.user-menu__item
						a.user-menu__link(href="#") Orders
					li.user-menu__item
						a.user-menu__link(href="#") Settings
					li.user-menu__item
						a.user-menu__link(href="#") Log out
