body 	
    font: $font-weight $font-size/$line-height $font-family, Arial, sans-serif


    color: $color
    background: #fff

.main-wrapper
    position: relative    


    overflow: hidden


    min-width: 320px
    min-height: 100%    
    padding: 0


    opacity: 1

img
    display: block


    max-width: 100%

span 
    display: inline-block


// Кнопка
.btn 
	display: inline-flex
	align-items: center
	justify-content: center
	color: #fff
	height: 30px
	background-color: $color-blue
	padding: 0 25px
	border-radius: 20px
	font-family: $font-family, Arial, sans-serif
	font-size: 12px
	font-weight: 400
    transition: color 2s linear, backgroun-color 1s ease
