.accordion
	.accordion__head.open
		h5.accordion__title Category
		span.icon-minus
	.accordion__body
		
	.accordion__head
		h5.accordion__title Brand
		span.icon-minus
	.accordion__body(style="display: none;")
		
	.accordion__head
		h5.accordion__title Size
		span.icon-minus
	.accordion__body(style="display: none;")
		
	.accordion__head
		h5.accordion__title Price
		span.icon-minus
	.accordion__body(style="display: none;")
		#slider-range
		input#amount(type="text" readonly="" style="border:0; color:#f6931f; font-weight:bold;")
		input#amount1(type="text" readonly="" style="border:0; color:#f6931f; font-weight:bold;")
	.accordion__head
		h5.accordion__title Brand
		span.icon-minus
	.accordion__body(style="display: none;") 22
	.accordion__head
		h5.accordion__title Brand
		span.icon-minus
	.accordion__body(style="display: none;") 22
