.accordion
	.accordion__head.open
		h5.accordion__title Category
		span.icon-minus
	.accordion__body
		ul.check-list
			li.check-list__item
				input(type="checkbox" value="sale" id='one' checked).filter-checkbox.styled-checkbox
				label(for="one").check-list__text Sale
			li.check-list__item
				input(type="checkbox" value="hit" id="two" checked).filter-checkbox.styled-checkbox
				label(for="two").check-list__text Hit
			li.check-list__item
				input(type="checkbox" value="new" id="three" checked).filter-checkbox.styled-checkbox
				label(for="three").check-list__text New
	.accordion__head
		h5.accordion__title Brand
		span.icon-minus
	.accordion__body(style="display: none;")
		ul.check-list
			+check-list('Text 1', 12)
			+check-list('Text 2', 13)
	.accordion__head
		h5.accordion__title Size
		span.icon-minus
	.accordion__body(style="display: none;")
		ul.check-list.check-list--column
			+check-list('S', 14)
			+check-list('XL', 15)
			+check-list('M', 16)
			+check-list('XXL', 17)
			+check-list('L', 18)
			+check-list('XXXL', 19)
	.accordion__head
		h5.accordion__title Price
		span.icon-minus
	.accordion__body(style="display: none;")
		#slider.noUi-target.noUi-ltr.noUi-horizontal
		span#amount.slider-value.slider-value-min
		span#amount1.slider-value.slider-value-max
						
	.accordion__head
		h5.accordion__title Color
		span.icon-minus
	.accordion__body(style="display: none;")
		ul.check-list.check-list--column
			+check-list('Badge', 20)
			+check-list('Blue', 21)
			+check-list('Red', 22)
			+check-list('green', 23)
			+check-list('Yellow', 24)
			+check-list('Purple', 25)
	.accordion__head
		h5.accordion__title Style
		span.icon-minus
	.accordion__body(style="display: none;") 22
