li.profile-menu__item.dropdown.dropdown--right.dropdown--white
			a.profile-menu__link(href="#")
				span.basket
					span.icon-bag
					span.badge 3
				span.b-price $165
			.dropdown-content
				.cart
					ul.cart-list
						+addCard('#', 'cart-list-img', "New Balance Men's Street Backpack", '$485', 'S', 'Black', 1)
						+addCard('#', 'cart-list-img1', "Lyle & Scott Men's Short Sleeve Camo Pocket", '$85', 'XXL', 'White', 3, 'danger')
						+addCard('#', 'cart-list-img2', "Lyle & Scott Men's Short Sleeve Camo Pocket", '$1 285', 'M', 'Black', 89)
					.cart-footer
						span.total Total
						span.price $3 285
						a.btn(href="#") Check Out