.dropdown-content.dropdown-content--menu
	.dropdown-content__item
		h4.dropdown-content__title Men
		ul.dropdown-menu
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Bags
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Caps & Hats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Gifts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Grooming
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Hoodies & Sweatshirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jackets & Coats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jeans
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jewellery
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Joggers
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jumpers & Cardigans
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Leather Jackets
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Long Sleeve T-Shirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Loungewear
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Polo Shirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Sunglasses
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Swimwear
	.dropdown-content__item
		h4.dropdown-content__title Women
		ul.dropdown-menu
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Bags
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Caps & Hats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Gifts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Grooming
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Hoodies & Sweatshirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jackets & Coats
		h4.dropdown-content__title Accessories
		ul.dropdown-menu
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Bags
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Caps & Hats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Gifts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Grooming
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Hoodies & Sweatshirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jackets & Coats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jackets & Coats
	.dropdown-content__item
		h4.dropdown-content__title Kids
		ul.dropdown-menu
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Bags
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Caps & Hats
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Gifts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Grooming
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Hoodies & Sweatshirts
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Jackets & Coats
		h4.dropdown-content__title
			span.text-error Sale -70%
			br
			| LookBook 
			br
			| Blogids
		.hr
		ul.dropdown-menu
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Shipping
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Payment
			li.dropdown-menu__item
				a.dropdown-menu__link(href="#") Help?
	.dropdown-content__item
