li.profile-menu__item.dropdown.dropdown--right.dropdown--white
			a.profile-menu__link(href="#")
				span.icon-user
			.dropdown-content
				ul.user-menu
					li.user-menu__item
						a.user-menu__link(href="#")
							span.icon-user
							| Profile
					li.user-menu__item
						a.user-menu__link(href="#")
							span.icon-heart
							| Wishlist 
							span.badge 2
					li.user-menu__item
						a.user-menu__link(href="#")
							span.icon-basket
							| Orders
					li.user-menu__item
						a.user-menu__link(href="#")
							span.icon-gear
							| Settings
					li.user-menu__item
						a.user-menu__link(href="#")
							span.icon-power
							| Log out
